<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aqiservice"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    
    <application
        android:name="com.aqiservice.android.AQIServiceApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.BlackBackground.NoTitle" >

		<receiver android:name="com.aqiservice.android.receiver.MainWidgetProvider" >
		    <intent-filter>
		        <action android:name="com.aqiservice.android.receiver.MainWidgetProvider.CLICK" />
		        <action android:name="com.aqiservice.android.receiver.MainWidgetProvider.REFRESH" />
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/widgetinfo" />
		</receiver>
        
        <service android:name="com.aqiservice.android.service.MainWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />
        
        <!-- Ealier implementation as an Activity 
        <activity
            android:name="com.aqiservice.android.view.MainActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Translucent"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         -->

    </application>

</manifest>